.hidden {
    display: none;
}

body {
    background: url('/img/paradise.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Zilla Slab', serif;
}

header, .filter-section {
    text-align: center;
}

h1 {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 40px;
}

h2 {
    margin-bottom: 7px;
}

.open-form {
    text-align: center;
}

.description {
    margin-bottom: -5px;
}

ul {
    list-style: none;
}

.rating-radio label {
    color: gold;
}

.rating {
    color: gold;
}

.bookmark-li {
    background-color: rgb(31, 30, 30);
    color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    opacity: .9;
    padding-top:0px;
    padding-bottom: 5px;
    border-color: black;
    border-width: 2px;
    margin-left: 0%;
    margin-right: 12%;
    margin-bottom: -15px;
}

button {
    color: rgb(22, 21, 21);
    border-radius: 5px;
    height: 30px;
    border-width: 5px;
    font-size: 15px;
    background-color: rgb(236, 236, 234);
    opacity: 90%;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
}

button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    background-color: rgb(214, 141, 5);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.submit, .close-form {
    margin-bottom: 8px;
}

.add-bookmark-form-section {
    text-align: center;
    margin-top: 20px;
}

#add-bookmark-form {
    color: white;
    background-color: black;
    margin-top: -30px;
    border-radius: 20px;
    border-style: outset;
    border-width: 10px;
    border-color: whitesmoke;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -160px;
    margin-left: -167px;
    z-index: 1;
}

.add-bookmark-form {
    margin-top: 10px;
}

.delete, .rating {
    display: inline-block;
}

.delete {
    margin-left: 5%;
}

.url {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}

.error-container {
    text-align: center;
    background-color: rgb(226, 70, 70);
    margin: 3px 32%;
    border-radius: 5px;
}

.input-list {
    margin-top 5px;
    margin-bottom 5px;
}

select {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    height: 25px;
}

#add-url, #add-description, #add-title {
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    height: 25px;
    margin-left: 5px;
    margin-top: 7px;
}

#add-description {
    margin-right: 16px;
}

#add-title {
    margin-right: 5px;
}

select:hover {
	border-color: #888;
}

select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

[type="radio"] {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
  }

  [type="radio"] + span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #000;
    margin-right: 0.75em;
    transition: 0.5s ease all;
  }

  [type="radio"]:checked + span::before {
    background: orange;
    box-shadow: 0 0 0 0.25em #000;
  }

  fieldset label {
      display: block;
      margin-bottom: 8px;
  }

  fieldset {
    margin-bottom: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  legend {
      font-size: 20px;
  }

@media screen and (min-width: 760px) {
    .bookmark-li {
        margin-left: 25%;
        margin-right: 30%;
    }
}